In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Set the executable path and initialize the chrome browser in splinter
chromedriver_path = '../chromedriver_win32/chromedriver.exe'
executable_path = {'executable_path': chromedriver_path}
browser = Browser('chrome', **executable_path)

### Visit the NASA Mars News Site

In [3]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('ul.item_list li.slide', wait_time=1)

True

In [4]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide') #slide_elem is the parent element

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Mars Helicopter Reports In "

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'The technology demonstration has phoned home from where it is attached to the belly of NASA’s Perseverance rover. '

### JPL Space Images Featured Image

In [8]:
# Visit URL
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [12]:
# Use the base URL to create an absolute URL
img_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{img_url_rel}'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg'

### Mars Facts

In [13]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [14]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [16]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [17]:
# Parse the data
html = browser.html
weather_soup = soup(html, 'html.parser')

In [18]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation">
 <thead>
  <tr>
   <th colspan="2" id="time_lbl" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Feb. 12, 2021
   </th>
   <th class="sol" scope="row">
    788
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed point">
    <span class="nodata">
     N/A
    </span>
   </td>
   <td class="pressure max">
    741.2
   </td>
   <td class="pressure avg">
    721.9
   </td>
   <td class="pressure min">
    700
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Feb. 11, 2021
   </th>
   <th class="sol" scope="row">
    787
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed point">
    <span class="nodata">
     N/A
    </span>
   </td>
   <td class="pressure max">
    741.3
   </td>
   <td class="pressure avg">
    722.2
   </td>
   <td class="pressure min">
    699.1
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [19]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [20]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

In [21]:
# Parse the resulting html with soup
html = browser.html
hemisph_soup = soup(html, 'html.parser')

In [22]:
# 3. Write code to retrieve the image urls and titles for each hemisphere.
hemisph_div_item = hemisph_soup.find_all('div', class_='item')

In [23]:
hemisph_div_item

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [24]:
hemisph_div_item_paths = []

for div_item in hemisph_div_item:
    hemisph_path = div_item.find('a')['href']
    hemisph_div_item_paths.append(hemisph_path)

In [25]:
hemisph_div_item_paths

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [26]:
astropedia_url = 'https://astrogeology.usgs.gov'
hemispheres = {}

for path in hemisph_div_item_paths:
    hemisph_url = astropedia_url + path
    #print(f'hemisph_url: {hemisph_url}')
    
    # Use browser to visit the URL
    browser.visit(hemisph_url)
    
    # Parse the resulting html with soup
    html = browser.html
    download_soup = soup(html, 'html.parser')
    
    #Find the title inside an h2 tag with a class of 'title'
    title = download_soup.find('h2', class_='title').get_text()
    #print(f'title: {title}')
    
    #Find the image url (href) inside a li tag
    img_url = download_soup.find('li').a['href']
    #print(f'img_url: {img_url}')
    
    # Store data in a dictionary
    hemispheres = {
        'img_url': img_url,
        'title': title
    }
    #Append the dictionary to the list
    hemisphere_image_urls.append(hemispheres)

In [27]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [28]:
# 5. Quit the browser
browser.quit()